/*Estilos da página index.html*/
body{
    background-color:#079992;
    margin: 0;
}

.center {
    text-align: center;
    color:#0C6161;
    font-family: 'Suez One', serif;
}

h1.center {
    color: #0C6161;
    font-family: 'Suez One', serif;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color:#6EB4B8;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 10pt;
    border-radius: 1.5%;
}

img {
    width: 50%;
    height: 50%;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

#menu li a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Suez One', serif;
}

#menu li a:hover {
    color: gray;
    font-family: 'Suez One', serif;
}

.texto {
    padding: 30px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 15pt;
}

.imagem {
    border-radius: 60%;
}

.wh-300 {
    width: 250px;
    height: 300px;
}

.tm-social {
    width: 40px;
    height: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Estilos da página contato.html*/
.ml-50 {
    margin-left: 50px;
}